.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-text {
  color: white;
  font-size: large;
}

.white-text-2 {
  color: white;
  font-size: medium;
}

.white-text-end {
  color: white;
  font-size: large;
  padding-left: 1%;
  justify-content: end;
  align-items:flex-end;
  white-space: nowrap;
}


.background {
  background-image: url("https://media.istockphoto.com/photos/yellow-ginkgo-trees-on-road-lane-in-napa-valley-california-picture-id499046284?b=1&k=20&m=499046284&s=170667a&w=0&h=x2vnT4nZt8ehYOfN0g10fdoydfMAur6APeNlCWQUHCI=");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center ;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;

}

body, html {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;  
}

.center-1 {
  display: flex;
  justify-content: flex-start ;
  /* align-items: center; */
  height:100vh;  
  color: white;
  font-size:larger;
  font-style: italic;
  padding: 10px;
}

.white-text-only {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.center-2 {
  display: flex;
  justify-content: center ;
  align-items: center;
  height:100vh;  
  color: white;
  font-style: italic;
  padding: 10px;
}

.white-text-header {
  color: white;
  font-size: large;
  font-style: italic;

}

.card-details {
  justify-content: center;
}

.bold{
  font-weight:500;
}

.addNewProductButton {
  background-color: white;
  color: goldenrod ;
}

.yellow-text {
  color: burlywood;
  font-size: large;
}